Source: awesfx
Section: sound
Priority: extra
Maintainer: Ove Kaaven <ovek@arcticnet.no>
Build-Depends: debhelper (>> 3.0.0), libasound2-dev, autotools-dev
Standards-Version: 3.8.3

Package: awesfx
Architecture: any
Depends: ${shlibs:Depends}
Suggests: aumix
Description: utility programs for AWE32/64 and Emu10k1 driver
 This package contains the following programs:
  - asfxload     SoundFont file loader (ALSA)
  - sfxload      SoundFont file loader (OSS)
  - setfx        Chorus/reverb effect loader
  - aweset       Change the running mode of AWE driver
  - sf2text      Convert SoundFont to readable text
  - text2sf      Convert from text to SoundFont file
  - gusload      GUS PAT file loader
  - sfxtest      Example program to control AWE driver
 .
 The package includes a collection of SoundFont managing routines
 called AWElib.  By default, AWElib is installed as a static library.
